.app-container{
    display: flex;
}

.main-container{
    flex-grow:1;
    height: 100vh;
    overflow: auto;
}
.main-container{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.main-container::-webkit-scrollbar {
  display: none;   /* Hide scrollbar for Chrome, Safari and Opera */
}


